.form{
  margin: auto;
  margin-top:30px;
  width:27%;
  display: flex;
  justify-content: space-between;
  
  flex-direction: row;
  
}
.tec{
  width:27%;
  
  margin:auto; 
  
}
.th{
  width: 45%;
  margin:auto;
  margin-top:40px ;
}
.dn{
  width:20%;
  display: flex;
  justify-content: center;

  margin:auto;
  margin-top:30px;
}